

.footer-position-title {
    text-align: center;
    padding: 1rem;
    }

.footer-position-title-size{
    font-size: 1.2rem;
    padding: 6px;
    font-weight: 600;
}


.footer-position-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    color: #cc9933;
}

.footer-position-list{
    padding: 0 10px;
}

a:link,
.footer-position-icon {
    color: #cc9933;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.footer-position-icon:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    color: rgb(168, 168, 168);
    
}
