.contact_form {
   width: 50%;
}

.contact_form_names {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-left: 1.5rem;
    
}

.contact_form_lastName {
    padding-top: 1rem;
    /* width: 50%; */
}

.contact_form_firstName {
    padding-top: 1rem;
    /* width: 50%; */
    
}

.contact_form_email {
    padding-top: 1rem;
    padding-left: 9rem;
}

.contact_form_message{
    padding-top: 1rem;
    padding-left: 9rem;
    
}

.contact_logo {
    width: 100%;    
}

.contact_title {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.contact_intro {
    text-align: justify;
    margin: 0 0rem;
    line-height: 1.7rem;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
.contact_from_submit {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(204,153,51);
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: 2px solid rgb(204,153,51);
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  background: none;
}
.contact_from_submit::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(204,153,51);
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
}
.contact_from_submit::after {
  content: "";
  display: inline-block;
  background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
.contact_from_submit:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
.contact_from_submit:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.contact_from_submit:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

@media screen and (min-width: 320px) {
   
    .contact_intro {
        text-align: justify;
        margin: 0 1.3rem;
        line-height: 1.7rem;}

    .contact_title {
        margin: 1rem;
        display: flex;
        justify-content: center;
    }
}


@media screen and (min-width: 375px) {
 
    .contact_intro {
        text-align: justify;
        margin: 0 1.4rem;
        line-height: 1.7rem;}
}
    

@media screen and (min-width: 425px) {
 
    .contact_intro {
        text-align: justify;
        margin: 0 2rem;
        line-height: 1.7rem;}

    
   
}

@media screen and (min-width: 768px) {
    
    .contact_intro {
        text-align: justify;
        margin: 0 4rem;
        line-height: 1.7rem;}
    
        
   
}

@media screen and (min-width: 1024px){

    .contact_intro {
        text-align: justify;
        margin: 0 5rem;
        line-height: 1.7rem;
    }

    .contact_title {
        margin: 1rem 6rem;
        display: flex;
        justify-content: flex-end;
        font-size: 3.5rem
    }

    .contact_logo {
        width: 75%;
        
    }
    
}

@media screen and (min-width: 1439px) {
    
    .contact_title {
        margin: 1rem 9rem;
        display: flex;
        justify-content: flex-end;
        font-size: 3.5rem
    }

    .contact_intro {
        text-align: justify;
        margin: 0 9rem;
        line-height: 1.7rem;}
    
    .contact_logo {
        width: 54%;
        
    }
        
    
}

@media screen and (min-width: 2559px) {
    
    .contact_intro {
        text-align: justify;
        margin: 0 12rem;
        line-height: 1.7rem;}
    
    .contact_title {
        margin: 1rem 12rem;
        display: flex;
        justify-content: flex-end;
        font-size: 3.5rem
    }

    .contact_logo {
        width: 50%;
        
    }
  
    
}

 
.dark {
	background: rgb(204,153,51);
    background: linear-gradient(90deg, rgba(204,153,51,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(204,153,51,1) 100%);
    color: white;
}

.light {
	background: rgb(204,153,51);
	background: linear-gradient(90deg, rgba(204,153,51,1) 0%, rgba(204,153,51,0) 3%, rgba(204,153,51,0) 97%, rgba(204,153,51,1) 100%);
}
