/* General Styles for Contact Form */
.contact_form {
    width: 50%;
    margin: auto; /* Center the form */
}

.contact_form_names {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.contact_form_lastName,
.contact_form_firstName,
.contact_form_email,
.contact_form_message {
    padding: 1.5rem;
   
}

.contact_form_lastName,
.contact_form_firstName
{
    margin-bottom: 1rem;
}

.contact_form_label--name{
    padding-bottom: 1rem;
}

.contact_form_email label,
.contact_form_message label {
    display: block; /* Makes the label a block element */
    text-align: center; /* Centers the label */
   
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Full width of the container */
    padding: 0.8rem; /* Increased padding inside the input/textarea */
    font-size: 1.1rem; /* Larger font size for better readability */
    border: 1px solid #ccc; /* Optional: Adds a border */
    border-radius: 4px;
    margin-top: 1rem; /* Optional: Rounds the corners */
}

.contact_logo {
    width: 100%;
}

.contact_title {
    margin: 1rem auto;
    text-align: center;
}

.contact_intro {
    text-align: justify;
    margin: 0 auto;
    line-height: 1.7rem;
}

/* Submit Button Styles */
.contact_from_submit {
    color: rgb(204,153,51);
    font-size: 1em; /* Adjusted font size */
    padding: 0.5em 1em; /* Adjusted padding */
    border: 2px solid rgb(204,153,51);
    background: none;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    cursor: pointer; /* Changes cursor to indicate button */
    display: block; /* Changed to block for natural layout */
    margin-top: 1rem; /* Space above the button */
    margin-left: auto; /* Center align */
    margin-right: auto; /* Center align */
    width: fit-content; /* Adjust width to content */
    transition: color 0.3s, background-color 0.3s, padding 0.3s; /* Transition for color, background, and padding */
}

.contact_from_submit::before,
.contact_from_submit::after {
    content: "";
    display: block;
    position: absolute;
    transition: width 0.3s ease; /* Transition for hover effect */
}

.contact_from_submit::before {
    top: -2px; /* Positioning */
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgba(204, 153, 51, 0);
    z-index: -1;
}

.contact_from_submit::after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: white;
    z-index: -2;
}

.contact_from_submit:hover {
    color: white; /* Color change on hover */
    background-color: rgb(204,153,51); /* Background color change on hover */
}

.contact_from_submit:hover::before {
    width: 100%;
}


/* Responsive Design Adjustments */
@media screen and (min-width: 320px) {
    .contact_intro {
        margin: 0 1.3rem;
        line-height: 1.7rem;
    }
    .contact_title {
        margin: 1rem;
        justify-content: center;
    }
}

@media screen and (min-width: 375px) {
    .contact_intro {
        margin: 0 1.4rem;
        line-height: 1.7rem;
    }
}

@media screen and (min-width: 425px) {
    .contact_intro {
        margin: 0 2rem;
        line-height: 1.7rem;
    }
}

@media screen and (min-width: 768px) {
    .contact_intro {
        margin: 0 4rem;
        line-height: 1.7rem;
    }
}

@media screen and (min-width: 1024px) {
    .contact_intro {
        margin: 0 5rem;
        line-height: 1.7rem;
    }
    .contact_title {
        margin: 1rem 6rem;
        justify-content: flex-end;
        font-size: 3.5rem;
    }
    .contact_logo {
        width: 75%;
    }
}

@media screen and (min-width: 1439px) {
    .contact_title {
        margin: 1rem 9rem;
        justify-content: flex-end;
        font-size: 3.5rem;
    }
    .contact_intro {
        margin: 0 9rem;
        line-height: 1.7rem;
    }
    .contact_logo {
        width: 54%;
    }
}

@media screen and (min-width: 2559px) {
    .contact_intro {
        margin: 0 12rem;
        line-height: 1.7rem;
    }
    .contact_title {
        margin: 1rem 12rem;
        justify-content: flex-end;
        font-size: 3.5rem;
    }
    .contact_logo {
        width: 50%;
    }
}

/* Dark and Light Mode Styles */
.dark {
    background: linear-gradient(90deg, rgba(204,153,51,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(204,153,51,1) 100%);
    color: white;
}

.light {
    background: linear-gradient(90deg, rgba(204,153,51,1) 0%, rgba(204,153,51,0) 3%, rgba(204,153,51,0) 97%, rgba(204,153,51,1) 100%);
}
