.main_page {
    max-width: 80%;
    margin: 0 10rem;
    
}

h1 {
    font-size: 3rem;
    padding: 1rem;
}
h2 {
    font-size: 2rem;
}
p {
    justify-content :space-around;
}

.maintitle {
    text-align: center;
}