.navbar {
    background: #793232;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 89%;
  }
  
  
  
  .nav-menu {
    display: flex;
    margin-top: 1.5rem;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: rgba(204,153,51,1) ;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #ddd;
    color: #000000;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }

  .fa{
    margin-top: 1.5rem;
  }

  .menu-icon {
    display: none;
  }

  /* Dark and Light Mode Styles */
.dark{
  background: linear-gradient(90deg, rgba(204,153,51,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(204,153,51,1) 100%);
  color: white;
}

.light {
  background: linear-gradient(90deg, rgba(204,153,51,1) 0%, rgba(204,153,51,0) 3%, rgba(204,153,51,0) 97%, rgba(204,153,51,1) 100%);
}

/* Light mode styles */
.light .nav-links {
  color: black; /* Color for light mode */
}

.light .nav-links:hover {
  color: #555;
  background-color: #0000006e;
}

/* Dark mode styles */
.dark .nav-links {
  color: white; /* Color for dark mode */
}

.dark .nav-links:hover {
  color: #ddd;
  background-color: rgb(128, 95, 30);
  
}


  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu.active {
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      height: 25%;
      

    }
  
    .light .nav-menu.active {
      background: #ffffff;
      
    }

    .dark .nav-menu.active {
      background: #000000;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: -32px;
      right: 25px;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .navbar-logo {
      display: none;
    }
  }
  